.Table-Container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around   ;
    align-items: center;
}

.Container{
    display: flex;
    flex-direction: row;
    width: 1080px;
    height: 58px;
    justify-content: space-between;
    margin-top: 3%;   
}
textarea{
    width: 700px;
    background-color: #282828;
    height:157px;
    border-radius: 10px;
    left: 380px;
}

input{
    width: 700px;
    background-color: #282828;
    height:58px;
    border-radius: 10px;
    left: 380px;
}
.text{
    padding-right: 1%;
    text-align: left;
    color: #ABABAB;
    font-weight: 400;
}
.btn{
    width: 118px;
    height: 58px;
    padding: 13px 30px 13px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #6EA59E;
    font-family: Roboto Mono;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}
@media (max-width:500px){
    .Container{
        justify-content: space-between;
        width: 80%;
        align-items: center;
    }
    input{
        width:200px;
        height:20px;
    }
    /* .text{
        font-size: 20px;
    } */
    .btn{
        height: 60px;
        width:40px;
    }

}
.btn_Container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}