@font-face {
  font-family: Roboto Mono;
  src: url('http://fonts.googleapis.com/css?family=Roboto');
}


.Tabs {
    display: flex;
    width: 20%;
  height: 80%;
  border: solid 0.1em white;
  border-radius: 30px;
  border-image-slice: 1;
  background-size: 100% 100%;
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  color: #838383;  
  cursor: pointer;
  font-size: 26px;
  font-family: 'Roboto Mono';
  }
  .TabsNotSelected{
    display: flex;
    width: 20%;
    font-size: 100%;
  height: 80%;
  border: solid 0.1em transparent;
  border-radius: 30px;
  background-color: black;
  border-image-slice: 1;
  background-size: 100% 100%;
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  color: #838383;  
  cursor: pointer;
  font-size: 26px;
  font-family: 'Roboto Mono';

  }
  
  @media (max-width: 500px){
    .TabsNotSelected{
      font-size: 10px;
    }
    .Tabs{
      font-size: 10px;
    }
   }
